@model IEnumerable<church.Teachers>

@{
    ViewBag.Title = "Index";
    if (Session["Email"] == null)
    {
        Response.Redirect("~/Users/Login", false);
    }
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<h2>List Teachers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                    @using (Html.BeginForm("Search", "Teachers"))
                    {
                        <label>Search: </label>
                        <input type="text" id="Search" name="Search" class="form-control" />
                        <input type="submit" class="btn btn-info" />
                    }
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                <h3 class="modal-bc="red">Are you sure you wont to Delete this Teacher?</h3>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <a href="#"class="btn btn-primary" id="btnDelete">Delete</a>
                    <a href="#" class="btn btn-danger" id="btncancelconfirm">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>


<table class="table table-bordered table-hover">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name_teacher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel_teacher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Of_berith)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place.Place)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name_teacher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel_teacher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Of_berith)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place.Place)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_teacher } ,new { @class = "btn btn-primary" }) |
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @*@Html.ActionLink("Delete", "Delete", new { id = item.ID_teacher })*@
                <a href="#"id="ShowModal" class="btn btn-danger" onclick="confirm(@item.ID_teacher)">Delete</a>
            </td>
        </tr>
    }

</table>
<input type="hidden" id="teacherId" />
<script>
    var confirm = function (id) {
        $("#teacherId").val(id);
        $("#DeleteModal").modal('show');
    }
    $("#btnDelete").click(function () {
        var _id = $("#teacherId").val();
        $.ajax({
            type: "post",
            url: "/Teachers/Delete",
            data: { id: _id },
            success: function (result) {
                if (result) {
                    $("#DeleteModal").modal("hide");
                    $("#teacherId").val(null);
                    window.location.href = "/Teachers/Index";
                } else {
                    alert("something went wrong while processing your requset ");
                }
              }     
            });
    })

    $("#btncancelconfirm").click(function () {
        window.location.href = "/Teachers/Index";
    })


</script>